*, :root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto 50px;
}

#acertos {
  text-align: center;
  background-color: #ff9d2d;
  padding: 12px;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
}

h1 {
  text-align: center;
}